# build
BRANCH=master                                   # use 'master' for new releases, change to specific version number on rollbacks

# logging
LOG_LEVEL=info

# database
POSTGRES_HOST=database                          # 'database' refers to the Docker service, change to specific host if Postgres is run on different server
POSTGRES_PORT=5432
POSTGRES_DB=setoalt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=                              # change to whatever, Postgres superuser password

# api
ALLOWED_ORIGIN=https://104.248.100.79           # change to domain name
JWT_SECRET_KEY=somesecret                       # change to whatever, used by the application to sign the JWT token
DB_USER=app_user
DB_PASSWORD=app_password                        # change to whatever, non-superuser password used by the app (NB! This should match the value in init-db.sql)

# ui
VITE_ENVIRONMENT=production
VITE_API_URL=https://104.248.100.79/api         # change to domain name (keep '/api' in the end)

# ssl
SSL_CERTIFICATE=/path/on/host/cert.pem          # change to point to the SSL certificate file
SSL_PRIVATE_KEY=/path/on/host/privkey.pem       # change to point to the SSL private key file
