services:
  api:
    build:
      context: https://github.com/taneltorn/setoalt.git#${BRANCH}:api
    container_name: setoalt-api
    ports:
      - "3000:3000"
    restart: always
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - ALLOWED_ORIGIN=${ALLOWED_ORIGIN}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - LOG_LEVEL=${LOG_LEVEL}
      - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
    depends_on:
      - database
    networks:
      setoalt-network:

  ui:
    build:
      context: https://github.com/taneltorn/setoalt.git#${BRANCH}:ui
      additional_contexts:
        - root=./
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_ENVIRONMENT=${VITE_ENVIRONMENT}
        - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
    container_name: setoalt-ui
    ports:
      - "80:80"
      - "443:443"
    restart: always
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - VITE_ENVIRONMENT=${VITE_ENVIRONMENT}
      - VITE_PUBLIC_URL=${VITE_PUBLIC_URL}
    depends_on:
      - api
    networks:
      setoalt-network:
    volumes:
      - ${SSL_CERTIFICATE}:/etc/nginx/ssl/cert.pem:ro
      - ${SSL_PRIVATE_KEY}:/etc/nginx/ssl/privkey.pem:ro

  database:
    image: postgres:16
    container_name: setoalt-database
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./database/scripts/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./database/scripts/insert-data.sql:/docker-entrypoint-initdb.d/insert-data.sql
    restart: always
    networks:
      setoalt-network:

volumes:
  postgres-data:

networks:
  setoalt-network: